* {
  box-sizing: border-box;
}

html {
  background-color: #f4f4f4;
  padding: 0;
}

body {
  background-color: #ffffff;
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

img {
  min-width: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #383838;
}

p {
  font-size: 14px;
  color: #8b8b8b;
}

h2 {
  height: 1.5em;
  font-size: 20px;
  overflow: auto;
}

h3 {
  height: 1.5em;
  font-size: 20px;
}

h4 {
  height: 1.5em;
  font-size: 14px;
}


p.warning {
  color: orange;
}

ul {
  list-style: disc;
}

a.nav {
  font-size: 14px;
  padding: 5px 15px;
  color: rgb(36, 36, 36);
  border: solid 1px transparent;
  border-radius: 5px;
}

a.nav:hover {
  border-color: salmon;
  background-color: salmon;
}

.nav-bar-container{
  padding: 10px 15px;
  background-color:#eeecec;
  height: 100%;
}

.action-btn {
  width: 100%;
  max-width: 200px;
  padding: 15px 0;
  margin: 30px 0;
  font-size: 14px;
  border-radius: 999px;
  background-color: salmon;
  transition: 300ms;
  outline: none;
  border: none;
  color: white;
}

.action-btn:hover {
  background-color: lightsalmon;
}

.action-btn:active {
  background-color: red;
}

.option {
  border: solid 1px #aaa;
  padding: 14px 14px;
  font-size: 14px;
  border-radius: 7px;
  background-color: white;
  width: 100px;
  position: relative;
}

:checked+.option {
  background-color: white;
  outline: solid 3px salmon;
  border: solid 1px transparent;
}

.search-bar {
  display: flex;
  max-width: 600px;
  height: 1.75em;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 20px;
  border: solid 1px rgb(71, 68, 68);
}

.search-bar>* {
  border: none;
}

.search-btn {
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: salmon;
  transition: 300ms;
}

.search-btn:hover {
  background-color: lightsalmon;
}

.search-btn:active {
  background-color: red;
}

/* 

.option {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option:hover {
  background-color: rgb(111, 100, 100);
}

.option input:checked {
  background-color: #2196F3;
}
 */

.explore-item {
  display: flex;
  flex-direction: column;
  width: 130px;
  overflow: hidden;
}

.explore-item>span {
  margin: 0.25em 0;
}

.explore-item>img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}